/*
Theme Name: Gear Planet
Author: the Syrah Mae Arguilles
*/

/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 3.0 - Typography
 * 4.0 - Elements
 * FORMS
 * 6.1 - Links
 */

/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	// overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #eeeeee;
	font-family: 'Lato';

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 0;
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/**
 * 3.0 Typography
 */

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: "Noto Serif", serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
}

p {
	margin-bottom: 1.6em;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #707070;
	border-left: 4px solid rgba(51, 51, 51, 0.7);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-size: 18px;
	font-size: 1.8rem;
	font-style: italic;
	line-height: 1.6667;
	margin-bottom: 1.6667em;
	padding-left: 0.7778em;
}

blockquote p {
	margin-bottom: 1.6667em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}


/**
 * 4.0 Elements
 */

hr {
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}

ul,
ol {
	margin: 0 0 1.6em 1.3333em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin-bottom: 1.6em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.6em;
}

table,
th,
td {
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.6em;
	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th, td {
	padding: 0.4em;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

del {
	opacity: 0.8;
}

/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
	color: rgb(157, 157, 157);
	font-family: "Lato";
	font-size: 14px;
}

:-moz-placeholder {
	color: rgb(157, 157, 157);
	font-family: "Lato";
	font-size: 14px;
}

::-moz-placeholder {
	color: rgb(157, 157, 157);
	font-family: "Lato";
	font-size: 14px;
	opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: rgb(157, 157, 157);
	font-family: "Lato";
	font-size: 14px;
}

/* FORM */
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     -ms-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

textarea, input, label, select, legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;	
	color: #636363;
	font-style: italic;
	-webkit-text-size-adjust: 100%;
	-webkit-text-stroke: 0.1px;
	-webkit-font-smoothing: antialiased;
}


/**
 * 6.1 Links
 */

a {
	text-decoration: none;
}

audio,
canvas {
	display: inline-block;
}

embed,
iframe,
object,
video {
	margin-bottom: 1.6em;
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/* Custom Style
***************************************************************/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* WRAPPERS */

.bold { font-weight: bold; }

#main-wrapper {
	position: relative;
	width: 100%;
}

/* HEADER */
.header {
	background: url("images/bg-header.jpg") no-repeat top center #fff;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #606060;
	font: 13px "Lato";
	height: auto;
	padding:10px 0px;
	// padding: 15px 0 15px 0;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #fff;
}

	header#main-header.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 200;
		left: 0;
	    right: 0;
	    z-index:9990;
	}

	header#main-header.down {
		// top: 0;
	 //    transition:0.3s top cubic-bezier(.3, .73, .3, .74);
	 //    -webkit-transition:0.3s top cubic-bezier(.3, .73, .3, .74);
	 //    -moz-transition:0.3s top cubic-bezier(.3, .73, .3, .74);
	}

	.logo-container img {
		margin-top: 12px;
		width: 250px;
	}

	.header-info-container {
		// margin: 33.5px 0;
		position: relative;
		text-align: right;

		/* SEARCH */
		#search-header-container {
			position: relative;
			// margin-top: 13px;
			 margin: 35px 0;

			#search-form-header {
				margin-bottom: 0; 

				.text-field {
				    border: 1px solid #189CB2;
					-webkit-border: 1px solid #189CB2;
					-moz-border: 1px solid #189CB2;
					-ms-border: 1px solid #189CB2;
				    box-shadow: none;
				    -webkit-box-shadow: none;
				    -moz-box-shadow: none;
				    -ms-box-shadow: none;
				    border-radius: 4px 0px 0px 4px;
				    -webkit-border-radius: 4px 0px 0px 4px;
				    -moz-border-radius: 4px 0px 0px 4px;
				    -ms-border-radius: 4px 0px 0px 4px;

					width: 75%;
				}

				.submit-btn {
					background: #189cb2;
					border: 1px solid #189CB2;
					-webkit-border: 1px solid #189CB2;
					-moz-border: 1px solid #189CB2;
					-ms-border: 1px solid #189CB2;
				    box-shadow: none;
				    -webkit-box-shadow: none;
				    -moz-box-shadow: none;
				    -ms-box-shadow: none;
				    border-radius: 0px 4px 4px 0px;
				    -webkit-border-radius: 0px 4px 4px 0px;
				    -moz-border-radius: 0px 4px 4px 0px;
				    -ms-border-radius: 0px 4px 4px 0px;
					width: 8.3333333333%;

					i.fa-search { color: #fff; right: 2px; position: relative;  }
				}
			}

			
		}

		.options-container {
			background: none;
			margin: 0;
			padding-top: 0; 
			padding-right: 0;

			.nav-container-circles{
				position: relative;
				.container-circles{
					position: relative;
					vertical-align: top;
					display: inline-block;
					margin: 0 0 0 13px;
					.messages-notify{
						position: absolute;
						top: 1px;
						right: -1px;
						background-color: #00b4db;
						border-radius: 100%;
						padding: 0;
						width: 11px;
						height: 11px;
						color: #fff;
						font-size: 7px;
						text-align: center;
						border: 1px solid #443538;
					}
					.sub-container{
						display: none;
						position: absolute;
						background-color: #efefef;
						z-index: 999;
						top: 45px;
						right: 0;
						width: 140px;
						border-radius: 3px;
						ul{
							margin: 0;
							padding: 0;
							li{
								text-align: right;
								font-size: 14px;
								float: none;
								margin: 0;
								padding:0;
								a{
									color: #606060;
								    display: block;
								    padding: 4px 7px;
									width: 100%;
								}
							}
						}
					}
					
					
				}
				.container-circles:nth-child(2) {
					margin: 0 13px;
				}
			}
			
			
			

			.headerlinks {
				// margin-bottom: 11px;

				.sep {
					color: #fff;
    				font: 700 15px "lato";
				}
			}

			.links-item {
				padding: 6px 12px; /* 0 10px; */
				margin-right: 10px;

				a {
					color: #fff;
				    font: 700 13px "lato";
					position: relative;
					text-transform: uppercase;
				}

				i {
					font-size: 16px;
				    left: 0;
				    position: relative; /* absolute; */
				    top: 0;
				    margin-right: 5px;
				    vertical-align: middle;
				}
			}


			.links-item.message {
				margin-right: 0;
			}

			.links-item.message a {
				padding-left: 17px;
				text-transform: inherit;
			}

			.links-item.my-gears a,
			.links-item.checkout a,
			.links-item.my-cart a{
				text-transform: inherit;
			}

			.links-item.message,
			.links-item.my-gears,
			.links-item.checkout,
			.links-item.my-cart {
				padding: 6px 12px 0 7px;
			}


			.links-item.no-border {
				border: none;
				-webkit-border: none;
				-moz-border: none;
				-ms-border: none;
			}
			
			.links-item.mycartlink{
				// background-color: red;
				padding: 10px 7px 7px 0;
				margin: 0;
			}

			.links-item.login {		    
				a {
					color: #ffffff; /* #00a4c7; */
				}
			}
		}
	}
	
	/*LOGIN MODAL*/
	/*Override modal*/
	.modal { z-index: 99999; }
	.modal-backdrop {  z-index: 9999; }
	.custom-saveresults{
		.modal-content {
			.modal-body {
				border-radius: 0;
				padding: 0;
				height: 310px;
				max-height: calc(100% - 59px);
    			overflow-y: auto;
				.modal-save-results{
					.modal-body-custom{
						padding: 0;
						.section:nth-child(odd){
							background-color: #fff;
						}
						.section:nth-child(even){
							background-color: #eee;
						}
						.section{
							padding: 15px 34px 15px 20px;
							.link-label{
								font-family: lato;
								font-size: 16px;
								a{
									color: #5ab75c;
									text-decoration: none;
								}
							}
							.remove{
								.btn-remove{
									background-color: #f04e41;
									color: #fff;
									font-size: 13px;
									font-family: lato;
									font-weight: bold;
									padding: 6px 15px;
								}
							}
						}
						.no-results{
							text-align: center;
							padding: 70px 34px 15px 20px;
							.search-icon-container{
							    margin: 0 auto;
							    color: #3d3d3d;
							    font-size: 45px;
							}
							p{
								margin: 0;
								font-family: lato;
								font-size:45px;
								font-weight: bold;
								color: #3d3d3d;
							}
						}
					}

				}
			}
		}
		
	}
	.modal{
		top: -112px;
	}
	.modal-footer{
		border:0;
		padding: 11px 34px 11px 20px;
		button{
			font-size: 16px!important;
			font-family: Lato!important;
			font-weight: bold!important;
			padding: 6px 28px!important;
			text-transform: uppercase!important;
		}
	}
	.modal-header{
		background-color: #3d3d3d;
		border-radius: 9px 9px 0 0;
		padding: 15px 20px;
		position: relative;
		h4.modal-title{
			font-size: 20px!important;
		    color: #fff!important;
		    margin: 0!important;
		    font-family: lato!important;
		}
		.close{
			color: #fff!important;
			position: absolute;
		    right: 15px;
		   	top: 12px;
		}
	}
	.modal-open,
	.modal-open .modal { padding: 0 !important; }
	.modal-dialog { 
		margin: 17em auto 0;  
		width: 50%;
	}
	.modal-content {
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;

		.modal-body {
			background: #ffffff;  
			border-radius: 12px;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			-ms-border-radius: 12px;

			.close {
				color: #444444;
				opacity: 0.9;
				margin-top: 0px !important;
				margin-right: 5px;
    			font-family: "Lato";
			}

			.login div { 
				margin-bottom: 6px; /* 20px;  */
				overflow: hidden;
			}

			.loginmodal-header {
				margin-bottom: 32px !important;
			}

			/* .login-btns {
				width: 44.5%;
			} */

			.login .fields-container div.row {
				margin-bottom: 10px;
			}


			.login-heading { 
				display: block;
				font: 700 25px "Lato"; /* 700 16px "Lato"; */
				padding: 6px 0 20px 0;
				text-align: left;
    			border-bottom: 2px solid #e1e1e1;
    			color: #616161;
    			margin-left: 15px;

				span.grey-txt {
					color: #d2d2d2;
					font: 400 20px "Lato";
				}

    			span.signup-opt, a.signup-opt {
    				color: #5bc0de;
    				font: 700 20px "Lato";
    				text-decoration: none;

    				&:hover {
    					text-decoration: none;
    				}
    			}
			}

			.login-btns p {
				color: #898989;
			    font-size: 17px;
			    font-family: "Lato";
			    padding: 0 15px 0 17px;
			}

			.social-media-container { 
					/* border-bottom: 1px solid #EAEAEA; */
					-webkit-border-bottom: 1px solid #EAEAEA;
					-moz-border-bottom: 1px solid #EAEAEA;
					-ms-border-bottom: 1px solid #EAEAEA;
				    /* margin: 0 40px 40px;
				    padding-bottom: 40px; */
				    margin: 0;
    				padding: 0 15px;
				  
				.btn-block + .btn-block {
				    margin-top: 10px;
				}    

				a { 
					color: #fff; 
					padding: 15px 5px;
					border-radius: 6px;
					-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
				}
				.google { background: #db3c28; }
				.facebook { background: #3c5a99; }
				i { 
					float: left;
					font-size: 22px;
					line-height: 20px;
				    /* padding-right: 13px; */
				    padding: 3px 35px 3px 12px;
				    width: 30px;
				    border-right: 1px solid #fff;
				    margin: 0 5px 0 0;
				}

				/* .google i { border-right: 1px solid rgba(217, 14, 14, 0.38); }
				.facebook i { border-right: 1px solid rgba(32, 67, 139, 0.38); } */

				span { font: 15px "Lato"; }		
			}

			.form-sep {
				float: left;
			    border-left: 1px solid #ccc;
			    height: 215px;
			    margin: 0 26px 0 12px;
			    position: relative;
			    overflow: visible !important;
	
			    span {
					position: absolute;
					top: 41%;
					color: #d2d2d2;
    				font-size: 20px;
    				font-family: 'Lato';
    				font-weight: bold;
    				background-color: #ffffff;
				    left: -10px;
				    padding: 5px 0;
			    }
			}

			.fields-container  {
				margin-top: 8px;
				padding: 0 15px;
				.form-group{
					margin: 15px 0 0 0;
					.forgot-password{
						font-family: 'Lato';
						font-style: italic;
						font-size: 15px;
						line-height: 25px;
						text-decoration: none;
						color: #c3c2c2;
					}
				}
			}
			
			.sep {
				padding: 0;
			    width: 1%;
			    font-size: 29px;
			    line-height: 1.3;
			    color: #e2e2e2;
			    text-indent: -999em;
			    border-left: 2px solid #e2e2e2;
			    margin: 10px 0;
			}

			.input-group {
				// padding-left: 0;
				// padding-right: 5px;
				.icon-user-custom:before{
					content: url(/images/user-icon.png);
					position: relative;
    				top: -3px;
				}
				.icon-password-custom:before{
					content: url(/images/lock-icon.png);
					position: relative;
    				top: -3px;
				}
				.input-group-addon {
					padding: 14px 10px 5px 20px;
					background-color: #f4f3f3;
				    border: 1px solid #e2e2e2;
				    border-right: 0;
				}
				.border-custom{
					padding: 0;
				    width: 1%;
				    font-size: 29px;
				    line-height: 1.3;
				    color: #e2e2e2;
				    border-left: 0;
				    border-right: 0;
				}
				input {
					background-color: #f4f3f3;
					border-left: 0;
					border-top: 1px solid #e2e2e2;
					border-right: 1px solid #e2e2e2;
					border-bottom: 1px solid #e2e2e2;
					padding: 5px 5px 5px 14px;
	    			box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
	    			height: 58px;
	    			border-top-right-radius: 6px;
	    			border-bottom-right-radius: 6px;
	    			-webkit-border-top-right-radius: 6px;
	    			-moz-border-top-right-radius: 6px;
	    			-webkit-border-bottom-right-radius: 6px;
	    			-moz-border-bottom-right-radius: 6px;
	    			font-size: 16px;

	    			&::-webkit-input-placeholder {
					   font-style: italic;
					   font-family: 'Lato';
					   color: #c3c3c3;
					   font-size: 16px;
					}
					&:-moz-placeholder { /* Firefox 18- */
					   font-style: italic;
					   font-family: 'Lato';
					   color: #c3c3c3;
					   font-size: 16px;
					}
					&::-moz-placeholder {  /* Firefox 19+ */
					   font-style: italic;  
					   font-family: 'Lato';
					   color: #c3c3c3;
					   font-size: 16px;
					}
					&:-ms-input-placeholder {  
					   font-style: italic;  
					   font-family: 'Lato';
					   color: #c3c3c3;
					   font-size: 16px; 
					}
				}
			}

			.login-container {
				margin-right: 16px;
			} 
			.login-container button { 
				background: #5bc0de;
			    padding: 11px 33px;  
			    border-radius: 6px;
			    font-size: 16px; 
			    border: 0px solid transparent !important;
			    &:focus{
			    	outline: none;  
			    }           
			} 
		}
	}

/* NAV */
nav#main-nav {
	color: #606060;
	background: #fff;
	font: 16px "Lato";
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	border-radius: 0;
}

	.navbar-collapse.navbar-collapse.in { height: 210px; }
	
	nav#main-nav ul {
		float: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	nav#main-nav ul li{
		float: left;
		list-style: none;
		margin: 15px 9.5px;
		padding: 0;
	}

	nav#main-nav ul li a {
		background: none;
		color: #606060;
		font-size: 16px;
		line-height: 16px;
		padding: 0;
	}

	nav#main-nav ul li:hover,
	nav#main-nav ul li.active {
		border-bottom: 2px solid #ec4c0d;
		-webkit-border-bottom: 2px solid #ec4c0d;
		-moz-border-bottom: 2px solid #ec4c0d;
		-ms-border-bottom: 2px solid #ec4c0d;
		text-decoration: none;
	}

/* SEARCH FORM */
#search-container {
	background: #fff;
	font: 16px "Lato";
	height: auto;
	padding: 0;
	position: relative;
	width: 100%;
}

	#search-container .row {
		padding-top: 103px;
    	padding-bottom: 103px;
	}

	#search-form {
		margin: 0 auto;
		overflow: hidden;
    	width: 50%;
	}

		#search-form input {
			border: 1px solid #189CB2;
			-webkit-border: 1px solid #189CB2;
			-moz-border: 1px solid #189CB2;
			-ms-border: 1px solid #189CB2;
			// display: inline-block;
			font-style: normal;
			height: auto;
			padding: 13px 10px;
		}

		#search-form .text-field {
			border-radius: 3px 0 0 3px;
		    -webkit-border-radius: 3px 0 0 3px;
		    -moz-border-radius: 3px 0 0 3px;
		    -ms-border-radius: 3px 0 0 3px;
		    font-size: 14px;
			width: 80%;
		}

		#search-form .submit-btn {
			background: #189CB2;
		    border-radius: 0 3px 3px 0;
		    -webkit-border-radius: 0 3px 3px 0;
		    -moz-border-radius: 0 3px 3px 0;
		    -ms-border-radius: 0 3px 3px 0;
		    color: #fff;
			width: 20%;
		}


/* BANNER */
#banner-container {
	background: #EBEBEB;
	font: 16px "Lato";
	height: auto;
	position: relative;
	width: 100%;

	//Override slick
	.slick-dots {
		width: auto;
	}
}

	.banner-row {
		margin: 0;
	}

	.banner-item {
		padding: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.banner-item .img-container{
		height: 525px;
		margin: 0 auto;
		width: 100%;
	}

		.banner-item .img-container img {
			margin: 0 auto;
		}

	.banner-item .heading-container {
		color: #fff;
		font: 20px "Lato";
		left: 13%;
		margin: 0 auto;
		position: absolute;
		// top: 30%;
		top: 17.5%;
		width: 73%;
		z-index: 999;

		h2 { 
			// font-size: 35px;
			// margin-bottom: 25px;
			font-size: 40px;
			margin: 20px 0px 5px;
		}

		p { 
			font-size: 20px;
		    line-height: 30px;
			padding: 0 311px;
		    text-transform: none;
		}

		.banner-logo{
			width: 346px;
		}
	}

	.content-container {
		padding-top: 50px;
	}

	.content-container p {
		color: #606060;
		font-size: 25px;
		margin: 1.6em auto;
		text-align: center;
	}

	.content-container p:first-child {
		width: 75%;
	}

	.content-container p:last-child {
		margin-bottom: 0;
		width: 67%;
	}

	/* Override slick */
	.slick-slider { margin-bottom: 0; }

	.slick-slide img{ margin: 0px auto; }

/* MAIN CONTAINER */
.heading-title-container > .container {
	background: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.heading-title-container > .container > div { 
	padding: 0; 

	h3 { 
		font-size: 17px; 
		line-height: 30px;
	}

	img{ 
		margin: 0 auto; 
		width: 51px;
	}
}

#main-container .heading-title-container .heading-title { background: none; }

#main-container {
	font: 14px "Lato";
	height: auto;
	padding: 0;
	position: relative;
	width: 100%;
}
#margin-top{
	margin-top: 124px; //135px;
}
.margin-top-header{
	margin: 35px 0 0 0;
}

#main-container > .container { background: #fff; }

	#main-container .main-row {
		padding-top: 15px;
		padding-bottom: 15px;
	}

		/* SIDEBAR */
		.sidebar-container {
			background: #F7F6F6;
			color: #444;
			margin-left: 20px;
		    margin-right: 20px;
			padding-top: 20px;
		    padding-bottom: 20px;
		    padding-left: 15px;
		    padding-right: 15px;
		}

		.sidebar-container > div {
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #EFEEEE;
		}

		.sidebar-container > div:first-child {
			padding-top: 0;
		}

		.sidebar-container > div:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

			.sidebar-container h3 {
				background: #565656;
			    border-radius: 5px 5px 0px 0px;
			    -webkit-border-radius: 5px 5px 0px 0px;
			    -moz-border-radius: 5px 5px 0px 0px;
			    color: #fff;
				font-size: 16px;
				margin-bottom: 15px;
			    padding: 10px;
			}

				.price-range-container h3 {
					background: none;
				    border-radius: none;
				    -webkit-border-radius: none;
				    -moz-border-radius: none;
				    color: #444;
				    padding-left: 0;
    				padding-right: 0;
				}

			.sidebar-container h4 {
				margin-bottom: 5px;
			}

			.sidebar-container ul{
				margin: 0;
				overflow: hidden;
				padding: 0;
			}

				.sidebar-container ul li {
					clear: both;
					list-style: none;
					margin: 0;
					overflow: hidden;
					padding: 0;
					position: relative;
				}

				.sidebar-container ul li .sub-menu.dropdown.diplayitem { display: block; }

				.sidebar-container ul li.hovered {
					background : transparent !important;
					
					a {
						color : #444 !important;
					}

					ul.sub-menu li a:hover {
						color: #444 !important;
					}
				}

				.sidebar-container ul ul li {
					padding: 0 15px;
				}

					.sidebar-container ul li a {
						color: #444;
						float: left;
						padding: 10px;
    					width: 96%;
					}

					.sidebar-container ul li.active,
					.sidebar-container ul li:hover,
					.sidebar-container ul li:focus {
						background: #E6E6E6;
    					color: #444;

    					a,
						a:hover,
						a:focus {
							color: #444;
							text-decoration: none;
						}
					}

					.sidebar-container ul li .dropdownbtn {
						padding: 11.5px 0;
					    position: absolute;
					    top: 0;
					    right: 5px;
					    text-decoration: none !important;
					    width: 4%;

					    &:hover,
					    &:focus {
					    	text-decoration: none;
						}

					}

				.sidebar-container ul li .sub-menu.dropdown {
					background: #F7F6F6; /* #E6E6E6; */
					display: none;
					float: none;
    				width: 100%;

    				a {
    					color: #444;
    					display: block;
    					float: none;

    					&:hover,
					    &:focus {
					    	color: #444;
						}
    				}    				
				}

				.sidebar-container ul li .sub-menu.dropdown li.active a{ color: #444; }

		.product-search-container div > div {
			position: relative;
			padding-bottom: 15px;
		}

		.product-search-container > div:last-child {
			margin: 0;
			padding-bottom: 0;
		}

		.product-search-container .custom-select {
			position: relative;
		}

			.product-search-container select:focus {
				border-color: #E6E5E5;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
				-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
			}

			.product-search-container select {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				background: #fff;
				border: 1px solid #E6E5E5;
				-webkit-border: 1px solid #E6E5E5;
				-moz-border: 1px solid #E6E5E5;
				-ms-border: 1px solid #E6E5E5;
				box-shadow: none;
				font-size: 13px;
				font-style: normal;
				position: relative;
				padding-right: 30px;
				width: 100%;
			}

				.custom-select:after {
					border: 1px solid #D6D6D6;
					-webkit-border: 1px solid #E6E5E5;
					-moz-border: 1px solid #E6E5E5;
					-ms-border: 1px solid #E6E5E5;
				    content: "\25bc";
				    position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    font-size: 100%;
				    line-height: 30px;
				    padding: 0 6px;
				    background: #E6E6E6;
				    color: #444444;
				    pointer-events: none;
				    -webkit-border-radius: 0 3px 3px 0;
				    -moz-border-radius: 0 3px 3px 0;
				    -ms-border-radius: 0 3px 3px 0;
				    border-radius: 0 3px 3px 0;
				}

		/* PRICE RANGE */
		.price-range-container label { 
			font: normal 11px "Lato"; 
			position: relative;
		}

		.price-range-container label:first-child { float: left; }
		.price-range-container label:last-child { float: right; }

		/* Price Ringe Input field*/
		.price-range-container {
			.form-group.pricebtn { 
				padding: 0px 10px; 

				button { padding: 6px 12px; }
			}
		}
		
		/*OVERRIDE BOOTSTRAP SLIDER*/
		.price-range-container .slider.slider-horizontal { width: 100%; }

			.price-range-container .slider.slider-horizontal .slider-track {  height: 3px; }

				.price-range-container .slider-selection { 
					background: #aaa;
					box-shadow: 0px 0px 3px #A2A2A2;
					-webkit-box-shadow: 0px 0px 3px #A2A2A2;
					-moz-box-shadow: 0px 0px 3px #A2A2A2;
					-ms-box-shadow: 0px 0px 3px #A2A2A2;
				}

				.price-range-container .slider-track-low, 
				.price-range-container .slider-track-high {
					background: #fff;
					box-shadow: 0px 0px 3px #A2A2A2;
					-webkit-box-shadow: 0px 0px 3px #A2A2A2;
					-moz-box-shadow: 0px 0px 3px #A2A2A2;
					-ms-box-shadow: 0px 0px 3px #A2A2A2;
				}

			.price-range-container label.max { float: right; }

			.price-range-container .slider .tooltip { z-index: 0; }
			.price-range-container .slider .tooltip.top {
				margin-top: 21px;
				padding: 0;
			}

			.price-range-container .tooltip.top .tooltip-arrow {
				top: 0;
			    border-width: 0 5px 5px 5px;
			    border: none;
			}

			.price-range-container .tooltip-inner {
				background: none;
				color: #189CB2;
				font: normal 11px "Lato"; 
				position: relative;
			}

			.price-range-container .dollar-icon {
				color: #189CB2;
				float: left;
			    font-size: 11px;			    
			    padding-top: 5px;
			}
		
			.price-range-container .slider.slider-horizontal .slider-tick.triangle, 
			.price-range-container .slider.slider-horizontal .slider-handle.triangle {
				    border-top: 10px solid #E1E1E1;
				    border-width: 10px 10px 0 10px;
				    box-shadow: none;
			}

		/* PRODUCT */
		.options-container {
			background: #eee;
			margin-bottom: 15px;

			button,
			a {  
				background: none;
				border: none;
				-webkit-border: none;
				-moz-border: none;
				-ms-border: none;
				color: #333; 
				padding: 0 2px;

				&:hover,
				&:focus,
				&:active { text-decoration: none; }

					i { font-size: 20px; }
			}
		}
		
		.title-area { 
			margin: 10px 0;
    		font-size: 16px;
		}

		.options-container ul {
			margin: 0 auto;
			padding: 0;
		}

		.options-container ul.mycart-dd {
			float: right;

			li a {
				color: #ffffff;
				color: #fff;
    			font: 700 13px "lato";
    			position: relative;
    			vertical-align: bottom;

    			i {
    				font-size: 16px;
				    left: 0;
				    position: relative;
				    top: 0;
				    margin-right: 5px;
				    vertical-align: middle;
    			}
			}

			.open .popup-caret {
					background: url("images/popup-caret.png") no-repeat 0 0;
					width: 10px;
					height: 9px;
					margin-left: 29px;
    				margin-top: 3px;
			}

			.open > .dropdown-menu {
				    min-width: 320px;
				    left: -118px;
				    margin: 0;
				    border-top: 0;
			}

			table,
			th,
			td {
				border: 0;
				text-align: center;
				margin-bottom: 0;
				padding: 10px 5px;

				a {
					color: #6f6f6f;
				}
			}
			
			.cart-btn {
				text-align: right;

				a {
					color: #fff;
				    padding: 7px 17px;
				    background-color: #449d44;
				}
			}	
			
			
			th {
				font-size: 16px; 
			}

			.prod-name {
				font-size: 14px;
				color: #6f6f6f;
				font-family: 'Lato';
				font-weight: 700;
			}

			.prod-price {
				font-weight: 700;
				font-family: 'Lato';
				font-size: 17px;
				color: #189cb2;
			}
		}

		.options-container ul li {
			float: left;
			list-style: none;
			margin: 0 auto;
			padding: 0 5px;
		}

		.new-pre-owned-container {
			margin-top: 10px;
			margin-bottom: 10px;
			overflow: hidden;
		}

		.new-pre-owned-container ul{ 
			display: inline-block;
		}

		.new-pre-owned-container ul li{ 
			background: #fff;
			border: 1px solid #E6E6E6;
			-webkit-border: 1px solid #E6E6E6;
			-moz-border: 1px solid #E6E6E6;
			-ms-border: 1px solid #E6E6E6;
			margin: 0;
			padding: 6px 0;
			position: relative;

			a { 
				color: #333; 
				padding: 6px 10px;

				&:hover,
				&:focus,
				&:active { text-decoration: none; }
			}
		}

		.new-pre-owned-container ul li.selected {
			background: #E6E6E6;
		}

		.most-recent-view-container {
			.most-recent,
			.view-type-container { padding: 0; }
		}

		/* Home page */
		.hide-layouts.most-recent-view-container {
			.most-recent {  
				display: inline-block;
				float: none;
				text-align: right;
			}
		}

		.new-pre-owned-container ul li button:focus,
		.view-type-container button:focus ,
		.new-pre-owned-container ul li button:focus ,
		.view-type-container button:focus { outline: none }

		.view-type-container button.selected ,
		.view-type-container a.selected i{ 
			border-bottom: 3px solid #ec4c0d; 
			-webkit-border-bottom: 3px solid #ec4c0d; 
			-moz-border-bottom: 3px solid #ec4c0d; 
			-ms-border-bottom: 3px solid #ec4c0d; 
			padding-bottom: 3px;
		}

		.items-container { width: 70%; }

		.items-container .product-item {
			list-style: none;
			margin-bottom: 15px;
		}

		.my-gears .items-container .product-item { margin-bottom: 0; }

		.items-container .product-item h3 {
			font-weight: normal;
			padding-left: 15px;
			padding-bottom: 15px;
		}

		.items-container .product-item div {
			color: #189CB2;
			font-weight: bold;

			.price { 
				font-size: 20px;
				margin-bottom: 15px; 
				padding-left: 15px;
				.hot-sale{
					position: relative;
					z-index: 1;
					margin-bottom: 5px;
					.cross-out{
						font-size: 14px;
						text-decoration: line-through;
					}
				}	
			}

			span {
				font-size: 11px;
				font-weight: normal;
			}

			.add-to-cart,
			.buy-now,
			.edit-btn {
				text-transform: uppercase;
				color: #ffffff;
				font-weight: 700;
				font-family: 'Lato';
				font-size: 12px;
				margin-right: 8px;
        		margin-top: -3px;
			}
			.button-adjust{
				position: relative;
				top: 27px;
			}
			.edit-btn {
				float: none;
				width: auto;
			}
		}

		.pagination-container { text-align: center; }

		/*
		.items-container .product-item .price-info {
			margin: 0;
			padding: 0;
			position: relative;
		}

		.items-container .product-item .price-info li.price {
			padding: 5px 0;
		}

		.items-container .product-item .price-info li{
			list-style: none;
			margin: 0;
			padding: 5px 10px;
		}

		.items-container .product-item .price-info li:first-child {
			color: #189CB2;
			font-weight: bold;
			float: left;
		}

		.items-container .product-item .price-info li:last-child {
			float: right;
		}

		.items-container .product-item .price-info li span {
			font-size: 11px;
			font-weight: normal;
		}

		.items-container .product-item .price-info li.contact-seller {
			background: #D6D6D6;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
    		color: #fff;
    		font-size: 13px;
		}

		.items-container .product-item .price-info li .chat{
		    float: left;
			font-size: 16px;
			padding-right: 20px;
		}*/

/* FOOTER */
div#main-bottom {
	background: url("images/bg-bottom.jpg") no-repeat top center #fff;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #fff;
	font: 14px "Lato";
	height: auto;
	padding: 151px 0;
	width: 100%;

	h3 { 
		font-size: 20px; 
		margin-bottom: 30px;
	}

	ul li { 
		font-size: 16px; 
		padding: 0 0 5px 0;
		position: relative;
	}

	ul li:last-child { padding-bottom: 0; }
}

footer#main-footer {
	background: #34373e;
	color: #fff;
	font: 14px "Lato";
	height: auto;
	padding: 30px 0;
	width: 100%;
}

	footer#main-footer h3 {
		color: #00a4c7;
		font-size: 19px;
		font-weight: normal;
		padding-bottom: 15px;
	}

	footer#main-footer span,
	footer#main-footer p,
	footer#main-footer ul li{
		color: #D6D6D6;
		font-size: 13px;
		margin-bottom: 0;
		
	}

	footer#main-footer span {
		font-style: italic;
	}

	footer#main-footer ul {
		margin: 0;
		padding: 0;
	}

	footer#main-footer ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	footer#main-footer a {
		color: #fff;
		font-size: 13px;
	}

	// footer#main-footer .blog-item,
	// footer#main-footer .news-events-item {
	// 	border-bottom: 1px solid #909092;
	// 	padding-top: 15px;
	// 	padding-bottom: 15px;
	// }

	// footer#main-footer .blog-item:first-child,
	// footer#main-footer .news-events-item:first-child {
	// 	padding-bottom: 0;
	// }

	// footer#main-footer .blog-item:last-child,
	// footer#main-footer .news-events-item:last-child {
	// 	border-bottom: 0;
	// }

	// .news-events-container .img-container { 
	//     float: left;
	//     padding-right: 15px;
	//     width: 25%;
	// }

	// .news-events-container .container-container {      
	//     float: left;
	//     width: 75%;
	// }

	.contact-container { width: 30%; }

	.contact-container > div { margin-bottom: 15px; }
	.contact-container > div:last-child { margin-bottom: 0; }

	footer#main-footer .footer-logo-container a{ 
		display: block;
		padding: 0; 
	}

	footer#main-footer .footer-logo-container img { width: 235px; }

	footer#main-footer .contact-info-container a {
		background: none;
		color: #D6D6D6;
		float: none;
		padding: none;
	}

	footer#main-footer .social-icon-container { margin-top: 10px; }
	footer#main-footer .social-icon-container li { 
		float: left;
   		padding: 5px;
		text-align: center; 
	}

	footer#main-footer .social-icon-container li a{
		background: #CDCED0;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		height: 25px;
		padding: 4px 7px;
		// padding: 4px 5px;
    	width: 25px;
	}

	footer#main-footer .social-icon-container li.twitter a i { font-size: 14px; }

	footer#main-footer .social-icon-container li.facebook a { 
		padding: 4px 10px;
		// padding: 4px 8px; 

		i { font-size: 12.25px; }
	}
	footer#main-footer .social-icon-container li.instagram a { padding: 4px 8px;  }

	footer#main-footer .menu-container { 
		width: 23.3333%; 

		ul li a { 
			display: block;
			padding: 15px 5px;
		}

		ul li:last-child a {
			padding-bottom: 0;
		}
	}

/*BRANDING*/
#branding-container {
	background: #272a31;
	font: 14px "Lato";
	height: auto;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

	.branding-content p {
		color: #D6D6D6;
		margin: 0;
		text-align: left;
	}

	.branding-content p:last-child {
		text-align: right;
	}

	.branding-content a {
		color: #D6D6D6;
	}

	.branding-content img {
		display: inline-block;
		width: 120px;
		margin-top: -1px;
		// width: 140px;
		// margin-top: -5px;
	}
.message-alert{
	border: 1px solid #009CC0;
	.icon-empty{
	    font-weight: bold;
	    font-size: 70px;
	    margin: 0 auto;
	    color:#009CC0;
	    padding-bottom: 15px;
	}
	p{
		font-size: 22px;
		color:#009CC0;
	}
}

.button-link{
	margin: 20px 0 0 0;
	a{
		font-size: 20px;
		color: #fff;
		display: block;
		width: 160px;
		margin: 0 auto;
		&:hover, &:focus{
			text-decoration: none;
		}
		.btn-link-view{
			background-color: #009CC0;
			display: block;
			padding: 10px 0;
			border-radius: 4px;
		}
	}
}

.inline-block{
	vertical-align: top;
	display: inline-block;
}
.carousel-fade {
	.carousel-inner {
	        .item {
	            transition-property: opacity;
	        }
	        
	        .item,
	        .active.left,
	        .active.right {
	            opacity: 0;
	        }

	        .active,
	        .next.left,
	        .prev.right {
	            opacity: 1;
	        }

	        .next,
	        .prev,
	        .active.left,
	        .active.right {
	            left: 0;
	            transform: translate3d(0, 0, 0);
	        }
	    }

	    .carousel-control {
	        z-index: 2;
	    }
}

.fancybox-overlay{
    z-index: 9990!important;
}
#fancybox-thumbs{
    z-index: 9999999999!important;  
}
.fancybox-wrap{
	z-index: 9999999999!important;
}


.drawer{
	.drawer-nav{
    	width: 28.25rem;
		.drawer-menu{
			.nav-footer{
				.nav-logo{
					margin: 20px 0 5px 0;
					width: 100%;
					display: block;
					img{
						margin: 0 auto;
					}
				}
				.email{
					font-size: 15px;
					text-align: center;
					font-family: 'Lato';
					color: #fff;
					line-height: 20px;
					a{
						color: #eceff1;
					}
				}
				.social-media{
					margin: 20px 0;
					ul{	
						margin: 0;
						padding: 0;
						display: block;
						width: 100%;
						text-align: center;
						li{
							display: inline-block;
							list-style: none;
							margin: 0 3px;
						}
					}
				}
			}
			.drawer-dropdown{
				    background-color: #25c5df;
					border-bottom: 1px solid #24bfd8;
				a{
					display: inline-block;
					padding-right: 0;
					font-family: 'Lato';
					color: #fff;
					line-height: 20px;
					text-decoration: none;
					padding-top: 15px;
					padding-bottom: 15px;
					padding-right: 5px;
				}
				.btn-float-left{
					// float: right;
					// position: relative;
					// right: 15px;
				}
				.drawer-dropdown-menu{
					.drawer-dropdown-menu-item{
						border-bottom: 1px solid #64c864;
						background-color: #5db75d;
						width: 100%;
						&:hover{
							text-decoration: none;
							color: #555;
							background-color: #fff;
						}
						a{
							padding-top: 15px;
							padding-bottom: 15px;
							width: 100%;
							display: block;
							border-bottom: 0;
							background-color: transparent;
							&:hover{
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}
}


.drawer--right{
	.drawer-nav {
	    right: -28.25rem;
	    transition: right .6s cubic-bezier(.19,1,.22,1);
	    background-color: #25c5df;
	}
}

.clicker{
    padding: 0!important;
}
.hide-results{
    display: block;
}

.mmenu,
nav#menu{
	display: none;
}
.mm-menu{
    background-color: #25c5df!important;
}
.mm-navbar.mm-navbar-bottom{
	display: block!important;
}
.mm-navbar{
	display: none!important;
}
.mm-panels {
	.mm-panel.mm-hasnavbar{
		padding-top: 0px!important;
	}
}
.mm-opened{
	nav#menu{
		display: block;
	}
}
.mm-menu.mm-offcanvas{
	width: 28.25rem!important;
}
.mm-listview {
	text-align: center!important;
	li {
		border-bottom: 1px solid #24bfd8!important;
		background-color: #25c5df!important;
		text-align: left;
		a {
		    font-family: 'Lato';
		    color: #fff;
		    line-height: 20px;
		    text-decoration: none;
		    margin-right: 0px!important;
		    padding-left: 1.5rem;
		    padding-top: 15px;
		    padding-bottom: 15px;
		    padding-right: 5px;
		    font-size: 15px;
		    &:hover{
		    	color: #fff;
		    }
		}
		ul{
			li{
				border-bottom: 1px solid #64c864!important;
			    background-color: #5db75d !important;
				a{
					background-color: #5db75d!important;
				}
			}
		}
		.mm-panel.mm-vertical{
			padding: 0px;
		}
		&:not(.mm-divider){
			&:after{
				border-bottom-width:0px;
			}
		}
	}
	.nav-logo{
		border-bottom: 0px solid transparent !important;
		a{
			padding: 15px 0px 3px;
			img{
				margin: 0px auto;
			}
		}
	}
	.social-media{
		display: inline-block;
		border-bottom: 0px solid transparent !important;
		a{
			padding: 20px 2px 5px;
		}
	}
	.nav-email{
		border-bottom: 0px solid transparent !important;
		span{
			font-family: 'Lato';
			color: #fff;
			line-height: 20px;
			font-size: 15px;
		    text-align: center;
		    padding: 0px;
			a{
				padding: 0px!important;
			}
		}
	}
	.mm-next{
		border-color: transparent!important;
		background-color: transparent!important;
		&:after{
			border-color: rgba(255,255,255,1)!important;
			content: "+";
		    transform: unset;
		    border-top: 0px solid;
		    border-left: 0px solid;
		    font-size: 20px;
		}
		&:hover{
			background-color: #25c5df!important;
		}
		&:focus{
			background-color: #25c5df!important;
		}
	}
	.mm-vertical.mm-opened{
		.mm-next:after{
			transform: unset!important;
			content: "—";
			right: 23px!important;
		}
	}
}
